<div *ngIf="showTitle">
  <p
    class="semiBoldMont font12px noMargin"
    [ngStyle]="{ color: getTitleColor() }"
  >
    {{ getTitle() }}
  </p>
  <div style="height: 6px"></div>
</div>
<div
  class="containerShadow whiteBg"
  style="width: 100%; border-radius: 4px"
  [ngStyle]="{ border: inputBorderStyling() }"
  [ngClass]="{
    whiteBg: isDisabled === false,
    bgGrayColor: isDisabled === true
  }"
  fxLayoutAlign="center center"
>
  <input
    class="mediumMont blackColor whiteBg"
    style="
      outline: none;
      border: none;
      border-radius: 4px;
      width: calc(100% - 20px);
    "
    [placeholder]="getPlaceholder()"
    [ngStyle]="{ height: getContainerHeight(), 'font-size': getFontSize() }"
    (keyup)="inputChanged($event)"
    [type]="inputType"
    [ngModel]="value"
    [value]="value"
    [disabled]="isDisabled"
  />
</div>
<div style="height: 2px"></div>
