<div class="decor" style="position: absolute; top: 0; left: 0; right: 0; width: 100%; height: 100%; z-index: -10; overflow: hidden;">
  <img src="../../../assets/decor/Equal-Orange-Icon.svg" style="top: 130px; left: 90px; width: 20px; height: 20px">
  <img src="../../../assets/decor/Circle-Yellow-Icon.svg" style="top: 170px; left: 1180px; width: 36px; height: 36px;">
  <img src="../../../assets/decor/Division-Green-Icon.svg" style="top: 470px; left: 180px; width: 30px; height: 30px;">
  <img src="../../../assets/decor/Pentago-Blue-Icon.svg" style="top: 560px; left: 1350px; width: 40px; height: 40px;">
  <img src="../../../assets/decor/Triangle-Green-Icon.svg" style="top: 330px; left: 900px; width: 50px; height: 50px; transform: rotate(50deg)">
  <img src="../../../assets/decor/Circle-Purple-Icon.svg" style="top: 730px; left: 510px; width: 40px; height: 40px;">
</div>
