<div style="height: 100%;">
  <div class="defaultScrollBar scrollBarGreenThumb" style="height: 100%; width: 100%; overflow-y: scroll;">
    <div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"
         fxLayoutAlign.gt-sm="center start" [ngStyle]="{ height: (currentBookVersion ? 'auto' : '100%')}">
      <div fxFlex.gt-sm="96" [ngStyle.lt-md]="{ width: '96%' }" *ngIf="currentBookVersion">
        <div style="height: 10px;"></div>
        <div class="whiteBg defaultShadow" fxLayout="row" fxLayout.lt-sm="column" ngStyle.lt-sm="height: auto;"
             style="width: 100%; height: 535px; border-radius: 12px;">
          <!-- Current Book Overview -->
          <div fxFlex="33" fxFlex.lt-md="50">
            <div style="height: 44px; border-top-left-radius: 12px;" fxLayoutAlign="start center" class="bgTitle">
              <div fxFlex="20px"></div>
              <p class="font18px blackColor noMargin boldMont centerAlign"
                 style="line-height: 44px;">
                {{ 'books.bookProgressTitle' | translate }}
              </p>
            </div>
            <div style="height: 40px"></div>
            <div class="pointer" style="width: 80%; margin: 0 auto;" (click)="goToDetail()" >
              <div fxLayoutAlign="center center">
                <img [src]="currentBookVersion.bookVersionImgURL()"
                     style="width: 90%; height: 240px; object-fit: contain;">
              </div>
              <div style="height: 20px;"></div>
              <div fxLayoutAlign="center start">
                <div>
                  <div class="greenLightBg" fxLayoutAlign="center center"
                       style="height: 30px; border-radius:4px;">
                    <div fxFlex="15px"></div>
                    <p class="semiBoldMont font12px whiteColor noMargin">
                      1 {{ 'reusable.grade' | translate }}
                    </p>
                    <div fxFlex="15px"></div>
                  </div>
                  <div fxFlex="20px"></div>
                  <div class="greenLightBg" fxLayoutAlign="center center"
                       style="height: 30px; border-radius:4px;">
                    <div fxFlex="15px"></div>
                    <p class="semiBoldMont font12px whiteColor noMargin">
                      1 {{ 'reusable.edition' | translate }}
                    </p>
                    <div fxFlex="15px"></div>
                  </div>
                </div>
              </div>
              <div style="height: 20px;"></div>
              <div style="width: 80%; margin: 0 auto;">
                <p class="boldMont font18px noMargin centerAlign">Evolytes #{{currentBookVersion.bookNumber}}</p>
                <div style="height: 2px;"></div>
                <p class="boldMont font18px noMargin centerAlign">{{!bookName[1] ? bookName[0] : bookName[1]}}</p>
              </div>
              <div style="height: 20px;"></div>
              <div style="width: 80%; margin: 0 auto;">
                <div class="bgLightGrayColor"
                     style="height: 22px; border-radius: 4px;">
                  <div class="greenLightBg"
                       [fxFlex]="currentBookProgress()"
                       *ngIf="hasCurrentBookProgress()"
                       style="border-radius: 6px"
                       fxLayoutAlign="center center">
                    <p class="semiBoldMont whiteColor font12px noMargin">{{ currentBookProgress() }}%</p>
                  </div>
                  <div fxFlex="100"
                       style="background-color: transparent" fxLayoutAlign="start center"
                       *ngIf="hasCurrentBookProgress() === false">
                    <p fxFlex class="semiBoldMont grayColor font12px noMargin" style="text-align: center;">0%</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="33" fxHide.lt-md>
            <div fxLayout="column" fxLayoutAlign="center start">
              <div fxFlex="10px"></div>
              <div fxFlex="33" fxLayout="column" style="width: 100%;">
                <div fxFlex="40px" class="bgTitle">
                  <div fxFlex="20px"></div>
                  <p class="font16px blackColor noMargin boldMont centerAlign"
                     style="line-height: 40px;">
                    {{ 'books.nextChapterTitle' | translate }}
                  </p>
                </div>
                <div style="height: 10px;"></div>
                <div style="height: 110px;">
                  <app-chapter-container
                    *ngIf="nextExamAttempt"
                    style="width: 100%;"
                    [isList]="false"
                    [integration]="nextExamAttempt">
                  </app-chapter-container>
                  <ng-container *ngIf="!nextExamAttempt"
                                [ngTemplateOutlet]="noData"
                                [ngTemplateOutletContext]="{title: 'noNextChapterTitle'} ">
                  </ng-container>
                </div>
                <div style="height: 10px;"></div>
              </div>
              <div fxFlex="33" fxLayout="column" style="width: 100%;">
                <div fxFlex="40px" class="bgTitle">
                  <div fxFlex="20px"></div>
                  <p class="font16px blackColor noMargin boldMont centerAlign"
                     style="line-height: 40px;">
                    {{ 'books.finishedTitle' | translate }}
                  </p>
                </div>
                <div style="height: 10px;"></div>
                <div style="height: 110px;">
                  <app-chapter-container
                    *ngIf="lastExamAttemptFinished"
                    style="width: 100%;"
                    [isList]="false"
                    [integration]="lastExamAttemptFinished"
                    (click)="goToAttempt(lastExamAttemptFinished)">
                  </app-chapter-container>
                </div>
                <div style="height: 10px"></div>
              </div>
              <div fxFlex="33" fxLayout="column" style="width: 100%;">
                <div fxFlex="40px" class="bgTitle">
                  <div fxFlex="20px"></div>
                  <p class="font16px blackColor noMargin boldMont centerAlign"
                     style="line-height: 40px;">
                    {{ 'books.failedTitle' | translate }}
                  </p>
                </div>
                <div style="height: 10px;"></div>
                <div style="height: 110px;">
                  <app-chapter-container
                    *ngIf="lastExamAttemptFailed"
                    style="width: 100%;"
                    [isList]="false"
                    [integration]="lastExamAttemptFailed"
                    (click)="goToAttempt(lastExamAttemptFailed)">
                  </app-chapter-container>
                  <ng-container *ngIf="!lastExamAttemptFailed"
                                [ngTemplateOutlet]="noData"
                                [ngTemplateOutletContext]="{title: 'noFailedTitle'} ">
                  </ng-container>
                </div>
                <div style="height: 10px;"></div>
                <div *ngIf="!lastExamAttemptFailed" style="height: 110px;"></div>
              </div>
            </div>
          </div>
          <div fxFlex="2" fxHide.lt-md></div>
          <div fxFlex="33" fxFlex.lt-md="50" style="border-left: 2px solid #f3f6f9;">
            <div fxFlex style="overflow: hidden;">
              <div style="height: 20px;"></div>
              <div fxLayoutAlign="start start">
                <div fxFlex="20px"></div>
                <p class="font18px blackColor noMargin boldMont centerAlign">
                  {{ 'books.chaptersTitle' | translate }}
                </p>
              </div>
              <div style="height: 20px;"></div>
              <div ngStyle.lt-sm="overflow-y:visible; height:auto;" class="noScrollBar bgLightGrayColor"
                   style="width: 100%; height:473px; overflow-y: scroll; border-top: 2px solid #f3f6f9; border-bottom-right-radius: 12px;">

                <div style="height: 6px;"></div>
                <div style="width: 96%; margin: 0 auto;">
                  <div *ngFor="let examAttempt of integrationExamAttempts">
                    <app-chapter-container [integration]="examAttempt" (click)="goToAttempt(examAttempt)"></app-chapter-container>
                    <div style="height: 6px;"></div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div style="height:10px;"></div>
        <div fxLayoutAlign="starts center" fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign.lt-md="center center"
             fxLayout.lt-md="column" style="width: 100%;">
          <div fxFlex.gt-md="30" fxFlex.md="32" ngStyle.lt-md="width: 100%;"
               *ngFor="let version of bookVersions; let i = index;">
            <app-book-container [bookVersion]="version"></app-book-container>
          </div>
        </div>
        <div style="height:10px;"></div>
      </div>
      <div fxFlex.gt-sm="96" [ngStyle.lt-md]="{ width: '96%' }" *ngIf="currentBookVersion === null"
           style="height: 100%;">
        <div fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
          <div fxFlex="60" class="whiteBg defaultShadow" fxLayout="column" fxLayoutAlign="center center"
               ngStyle.lt-sm="width: 80%;" style="width: 450px; border-radius: 12px;">
            <div fxLayoutAlign="center center">
              <img src="./assets/icons/qr-code.svg" style="height: 120px; width: 120px; object-fit: contain;">
            </div>
            <div style="height: 50px" fxLayoutAlign="center center">
              <p class="semiBoldMont font14px blackColor noMargin"
                 style="text-align: center;">{{ 'dashboard.noQRScannedTitle' | translate }}</p>
            </div>
            <div fxLayoutAlign="center center">
              <div fxFlex="80" style="height: 80px;">
                <p class="mediumMont font12px blackColor noMargin"
                   style="text-align: center;">{{ 'dashboard.noQRScannedMessage' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noData let-title='title'>
  <div style="width: 100%;">
    <div fxFlex>
      <div class="smallShadow pointer bgWhiteHoverColor" style="height: 110px; border-radius: 4px;"
           fxLayoutAlign="center center">
        <p class="font16px blackColor noMargin boldMont centerAlign"
           style="line-height: 40px;">
          {{ 'books.' + title | translate }}
        </p>
      </div>
    </div>
  </div>
</ng-template>
