.flex-container {
    display: flex;
    flex-flow: column;
    padding: 15px;
    width: 750px !important;
    margin:auto
}

.content-container {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 750px !important;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1pxsolidrgba(0,0,0,.2);
    border-radius: 0.3rem;
    outline: 0;
    margin: auto  !important;
}
.modal-dialog{
    position: relative;
    width: 100vw;
    margin: 0.5rem;
    pointer-events: none;
}
.flex-container h5 {
    border-bottom: 1px solid black;

}

.flex-container .container {
    border-bottom: 1px solid black;
}

.flex-container .semiBoldMont {
    text-align: right;
}

.dateContainer .dateStyle {
    border-bottom: 1px solid black;
}

.modal-title {
    display: flex;
    align-items: baseline;
    font-size: 2rem;
    text-align: center;
    padding-left: 15px;
    margin: 2x;
}
.loadMoreButton{
  padding: 8px 12px 8px;
  font-size: 15px;
  line-height: 1.5;
  border-radius: 25px;
  margin:auto;
  width:150px;
  background-color: #28A745;
  border:0px
  

}