<div fxHide.lt-md fxLayout="row" class="smallShadow" style="border-radius: 8px; width: min-content;">
  <div *ngFor="let setting of settingsSections; let i = index;" style="display: inline-block; vertical-align: center;" fxLayoutAlign="center start">
    <div fxFlex="40px" *ngIf="i == 0"></div>
    <div class="noUnderlineLight" [routerLink]="setting.key" routerLinkActive="blueUnderline">
      <div style="height:10px;"></div>
      <p class="boldMont noMargin font14px lightGrayColor centerAlign pointer" style="white-space: nowrap;">
        {{setting.value | translate}}
      </p>
      <div style="height:10px;"></div>
    </div>
    <div fxFlex="40px"></div>
  </div>
</div>
<div fxHide.gt-sm style="height: 42px;">
  <app-evo-dropdown fxFlex="60"
                    [titleColor]="'#28A745'"
                    [list]="settingsSections"
                    [currentValue]="currentSection"
                    (valueChangedEvent)="chooseRoute($event)">
  </app-evo-dropdown>
</div>
<div style="height:20px;"></div>
<div class="line"></div>
<div style="height:10px;"></div>
