<div style="position: absolute; width: 100%; height: 100%; top: 0; background-color: rgba(0, 0, 0, 0.6); z-index: 100;"
     *ngIf="userSettingsModalSv.isVisible" fxLayoutAlign="center center">
  <div class="whiteBg defaultShadow"
       fxFlex="80"
       fxFlex.sm="90"
       fxFlex.xs="94"
       fxFlex.md="800px"
       fxFlex.lg="900px"
       style="height: 94%; border-radius: 4px;">
    <!-- Top -->
    <div fxLayoutAlign="center start">
      <div style="width: calc(100% - 80px); height: 137px;">
        <div style="height: 20px;"></div>
        <div>
          <p class="font20px blackColor noMargin boldMont"
             style="line-height: 44px;"
             fxFlex>
            {{ 'sidebar.settings' | translate }}
          </p>
          <div fxFlex="10px"></div>
          <div fxFlex="40px" fxLayoutAlign="center center">
            <img src="./assets/icons/close-icon-black.svg"
                 style="height: 24px; width: 24px; cursor: pointer;"
                 (click)="onCloseIcon()">
          </div>
        </div>
        <div style="height: 10px;"></div>
        <!-- Settings Bar -->
        <div>
          <div fxHide.lt-md class="smallShadow" style="border-radius: 8px; width: min-content;" fxLayoutAlign="start center">
            <div *ngFor="let setting of settingsSections; let i = index;">
              <div fxFlex="40px" *ngIf="i == 0"></div>
              <div [ngClass]="{ noUnderlineLight: currentSection !== setting.key, blueUnderline: currentSection.key === setting.key }">
                <div style="height: 10px;"></div>
                <p class="boldMont noMargin font14px lightGrayColor centerAlign pointer"
                   style="white-space: nowrap;"
                   (click)="onSectionChanged(setting.key)">
                  {{ setting.value | translate }}
                </p>
                <div style="height: 10px;"></div>
              </div>
              <div fxFlex="40px"></div>
            </div>
          </div>
          <div fxHide.gt-sm style="height: 42px;">
            <app-evo-dropdown fxFlex="60"
                              [title]="'#28A745'"
                              [list]="settingsSections"
                              [currentValue]="currentSection"
                              (valueChangedEvent)="onSectionChanged($event)">
            </app-evo-dropdown>
          </div>
        </div>
        <div style="height: 20px;"></div>
        <div class="line"></div>
      </div>
    </div>
    <div style="height: calc(100% - 137px); overflow-y: scroll;" fxLayoutAlign="center start">

      <div style="width: calc(100% - 80px);">
        <!-- Settings Sections -->
        <app-profile-settings *ngIf="currentSection.key === 'profile'"></app-profile-settings>
        <app-password-settings *ngIf="currentSection.key === 'pass'"></app-password-settings>
        <app-new-billing-settings *ngIf="currentSection.key === 'billing'"></app-new-billing-settings>
      </div>
    </div>
  </div>
</div>
