<app-land2-nav-header [hidden]="hidden" (onBurgerClicked)="setHidden()"></app-land2-nav-header>

<div appEgg class="landcontent">

  <!-- Header part -->
  <div class="whiteBg" fxLayoutAlign="center center">
    <div fxFlex="100">
      <div style="margin: 70px 0 40px 0" fxLayoutAlign="center start">
        <div style="max-width: 740px;
        background:
        url('../../../../assets/newWebsite/quotes-icon.png') top 0 left 0 no-repeat,
        url('../../../../assets/newWebsite/quotes-icon-reverse.png') bottom 0 right 0 no-repeat;
        background-size: 30px;" ngStyle.gt-xs="width: 70%;" ngStyle.xs="width: 95%;">
          <h1 ngClass.gt-xs="boldMont noMargin blackColor font42px"
              ngClass.xs="boldMont noMargin blackColor font26px"
              style="padding: 20px 40px 20px 40px;"
              ngStyle.xs="'text-align: center'">
            {{'lp2.aboutUs.title' | translate}}
          </h1>
        </div>
      </div>
      <img fxHide.xs="true" style="width: 100%; margin: 40px 0 50px 0" src="../../../../assets/newWebsite/AllMonsters.png">
      <div
        fxHide.gt-xs="true"
        style="background-image: url('../../../../assets/newWebsite/AllMonsters.png');
        background-size: cover; background-position: center;
        width: 100%; height: 150px;"
      ></div>
    </div>
  </div>

  <!-- our story part computer -->
  <div fxHide.lt-sm="true" fxHide.sm="true" class="lightGrayBg" style="padding: 50px 0 50px 0;">
    <div ngStyle.xs="width: 90%; margin: 0 auto;"
         ngStyle.sm="width: 72%; margin: 0 auto;"
         ngStyle.gt-sm="width: 760px; margin: 0 auto;">
      <h1 class="boldMont noMargin blackColor font30px centerAlign">
        {{'lp2.aboutUs.ourStory.title' | translate}}
      </h1>
      <div style="height: 20px;"></div>
      <h1 class="regularMont noMargin grayColor font18px centerAlign">
        {{'lp2.aboutUs.ourStory.description' | translate}}
      </h1>
    </div>
    <div style="height: 40px;"></div>
    <div fxLayoutAlign="center start">
      <div style="width: 80%; max-width: 1200px; margin: 0 auto;" fxLayout="column" fxLayoutAlign="start center">
        <div style="height: 40px"></div>
        <div *ngFor="let text of tabText; let i = index"
             ngStyle.gt-md="width: 90%; max-width: 1100px; margin-bottom: 50px"
             ngStyle.lt-md="width: 100%; margin-bottom: 50px"
             ngStyle.md="width: 100%; margin-bottom: 50px">
          <div fxFlex="30" fxLayoutAlign="start center" fxLayout="column">
            <h1 class="boldMont noMargin font60px" [ngStyle]="{'color': colorIndex(i)}">{{text.year}}</h1>
            <div style="height: 100%;" fxLayoutAlign="center center">
              <div style="height: 100%; width: 10px"
                   [ngStyle]="{'border-color': colorIndex(i), 'border-width': '0 3px 0 0', 'border-style': 'solid'}">
              </div>
              <div style="height: 100%; width: 10px"
                   [ngStyle]="{'border-color': colorIndex(i), 'border-width': '0 0 0 3px', 'border-style': 'solid'}">
              </div>
            </div>
          </div>
          <div fxFlex="70">
            <h1 class="boldMont noMargin blackColor font26px">{{text.title | translate}}</h1>
            <div style="height: 20px;"></div>
            <h1 class="regularMont noMargin grayColor font16px">{{text.descr | translate}}</h1>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- our story part mobile -->
  <div fxHide.gt-sm="true" class="lightGrayBg" fxLayoutAlign="center center" style="padding: 50px 0 10px 0;">
    <div style="width: 90%" fxLayoutAlign="start center" fxLayout="column">
      <h1 class="boldMont noMargin blackColor font30px centerAlign">
        {{'lp2.aboutUs.ourStory.title' | translate}}
      </h1>
      <div style="height: 20px;"></div>
      <h1 class="regularMont noMargin grayColor font18px centerAlign">
        {{'lp2.aboutUs.ourStory.description' | translate}}
      </h1>
      <div style="height: 40px"></div>
      <div *ngFor="let text of tabText; let i = index" style="width: 100%; padding-bottom: 40px">
        <div style="width: 100%; height: 72%">
          <p class="boldMont noMargin font46px" style="padding-right: 30px" [ngStyle]="{'color': colorIndex(i)}">{{text.year}}</p>
          <div fxFlex="70" fxLayout="column" fxLayoutAlign="center center">
            <div fxFlex="50" style="width: 100%" [ngStyle]="{'border-color': colorIndex(i), 'border-width': '0 0 3px 0', 'border-style': 'solid'}"></div>
            <div fxFlex="50" style="width: 100%" [ngStyle]="{'border-color': colorIndex(i), 'border-width': '3px 0 0 0', 'border-style': 'solid'}"></div>
          </div>
        </div>
        <h1 class="boldMont noMargin blackColor font22px">{{text.title | translate}}</h1>
        <div style="height: 20px;"></div>
        <h1 class="regularMont noMargin grayColor font16px">{{text.descr | translate}}</h1>
      </div>
    </div>
  </div>

  <!-- the team part Computer-->
  <div fxHide.lt-sm="true" class="whiteBg" style="padding: 50px 0 50px 0;">

    <div ngStyle.xs="width: 90%; margin: 0 auto;"
         ngStyle.sm="width: 72%; margin: 0 auto;"
         ngStyle.gt-sm="width: 760px; margin: 0 auto;">
      <h1 class="boldMont font30px blackColor noMargin centerAlign">
        {{'lp2.aboutUs.team.title' | translate}}
      </h1>
      <div style="height: 20px;"></div>
      <h1 class="regularMont font18px grayColor noMargin centerAlign">
        {{'lp2.aboutUs.team.description' | translate}}
      </h1>
    </div>

    <div style="height: 40px;"></div>

    <div fxLayoutAlign="center start">
      <div ngStyle.gt-md="width: 300px" ngStyle.lt-lg="width: 200px" fxLayout="column"
           fxLayoutAlign="start center">
        <img style="width: 150px" src="../../../../assets/newWebsite/profil/MathieuPortrait.png">
        <p class="noMargin blackColor semiBoldMont font18px centerAlign" style="margin: 10px;">
          Mathieu Grettir Skúlason
        </p>
        <p class="noMargin grayColor mediumMont font16px centerAlign">
          {{'lp2.aboutUs.team.ceo' | translate}}
        </p>
      </div>
      <div fxFlex.gt-md="100px" fxFlex.lt-md="30px" fxFlex.md="30px"></div>
      <div ngStyle.gt-md="width: 300px" ngStyle.lt-md="width: 200px" ngStyle.md="width: 200px" fxLayout="column"
           fxLayoutAlign="start center">
        <img style="width: 150px" src="../../../../assets/newWebsite/profil/IrisPortrait.png">
        <p class="noMargin blackColor semiBoldMont font18px centerAlign" style="margin: 10px;">
          Íris Eva Gísladóttir
        </p>
        <p class="noMargin grayColor mediumMont font16px centerAlign">
          {{'lp2.aboutUs.team.cmo' | translate}}
        </p>
      </div>
    </div>

    <div fxLayoutAlign="center start" style="margin: 50px 0 50px 0">
      <div ngStyle.gt-md="width: 300px" ngStyle.lt-lg="width: 200px" fxLayout="column"
           fxLayoutAlign="start center">
        <img style="width: 150px" src="../../../../assets/newWebsite/profil/NellPortrait.png">
        <p class="noMargin blackColor semiBoldMont font18px centerAlign" style="margin: 10px;">
          Nell Fallcard
        </p>
        <p class="noMargin grayColor mediumMont font16px centerAlign">
          {{'lp2.aboutUs.team.design' | translate}}
        </p>
      </div>
      <div fxFlex.gt-md="100px" fxFlex.lt-md="30px" fxFlex.md="30px"></div>
      <div ngStyle.gt-md="width: 300px" ngStyle.lt-md="width: 200px" ngStyle.md="width: 200px" fxLayout="column"
           fxLayoutAlign="start center">
        <img style="width: 150px" src="../../../../assets/newWebsite/profil/GudbjorgPortrait.png">
        <p class="noMargin blackColor semiBoldMont font18px centerAlign" style="margin: 10px;">
          Guðbjörg Aðalsteinsdóttir
        </p>
        <p class="noMargin grayColor mediumMont font16px centerAlign">
          {{'lp2.aboutUs.team.pedagogy' | translate}}
        </p>
      </div>
      <div fxFlex.gt-md="100px" fxFlex.lt-md="30px" fxFlex.md="30px"></div>
      <div ngStyle.gt-md="width: 300px" ngStyle.lt-md="width: 200px" ngStyle.md="width: 200px" fxLayout="column"
           fxLayoutAlign="start center">
        <img style="width: 150px" src="../../../../assets/newWebsite/profil/SiggiPortrait.png">
        <p class="noMargin blackColor semiBoldMont font18px centerAlign" style="margin: 10px;">
          Sigurður Gunnar Magnússson
        </p>
        <p class="noMargin grayColor mediumMont font16px centerAlign">
          {{'lp2.aboutUs.team.game' | translate}}
        </p>
      </div>
    </div>

    <div fxLayoutAlign="center start">
      <div ngStyle.gt-md="width: 300px" ngStyle.lt-lg="width: 200px" fxLayout="column" fxLayoutAlign="start center">
        <img style="width: 150px" src="../../../../assets/newWebsite/profil/AriellePortrait.png">
        <p class="noMargin blackColor semiBoldMont font18px centerAlign" style="margin: 10px; text-align: center">
          Arielle Mabilat
        </p>
        <p class="noMargin grayColor mediumMont font16px centerAlign">
          {{'lp2.aboutUs.team.cfo' | translate}}
        </p>
      </div>
      <div fxFlex.gt-md="100px" fxFlex.lt-md="30px" fxFlex.md="30px"></div>
      <div ngStyle.gt-md="width: 300px" ngStyle.lt-md="width: 200px" ngStyle.md="width: 200px" fxLayout="column" fxLayoutAlign="start center">
        <img style="width: 150px" src="../../../../assets/newWebsite/profil/AdrienPortrait.png">
        <p class="noMargin blackColor semiBoldMont font18px centerAlign" style="margin: 10px;">
          Adrien Eiríkur Skúlason
        </p>
        <p class="noMargin grayColor mediumMont font16px centerAlign">
          {{'lp2.aboutUs.team.sales' | translate}}
        </p>
      </div>
    </div>

  </div>

  <!-- the team part Mobile -->
  <div fxHide.gt-xs="true" class="whiteBg" style="padding: 50px 10px 50px 10px;">

    <div ngStyle.xs="width: 90%; margin: 0 auto;"
         ngStyle.sm="width: 72%; margin: 0 auto;"
         ngStyle.gt-sm="width: 760px; margin: 0 auto;">
      <h1 class="boldMont font30px blackColor noMargin centerAlign">
        {{'lp2.aboutUs.team.title' | translate}}
      </h1>
      <div style="height: 20px;"></div>
      <h1 class="regularMont font18px grayColor noMargin centerAlign">
        {{'lp2.aboutUs.team.description' | translate}}
      </h1>
    </div>

    <div style="height: 40px;"></div>

    <div *ngFor="let team of tabTeam; let i = index" style="padding: 10px 0 10px 0; width: 100%">
      <div style="width: 100%" [fxLayoutAlign]="sideIndex(i)">
        <div fxFlex="20px"></div>
        <div fxFlex="240px" fxLayout="column" fxLayoutAlign="start center">
          <img style="width: 170px" [src]="'assets/newWebsite/profil/' + team.profil">
          <p class="noMargin blackColor semiBoldMont font16px" style="margin: 10px; text-align: center">{{team.name}}</p>
          <p class="noMargin grayColor mediumMont font14px centerAlign">{{'lp2.aboutUs.team.' + team.job | translate}}</p>
          <div style="height: 20px;"></div>
        </div>
        <div fxFlex="20px"></div>
      </div>
    </div>

  </div>

  <app-footer></app-footer>

</div>
