<app-land-nav-header></app-land-nav-header>
<app-evo-decoration-background-signup></app-evo-decoration-background-signup>
<div style="width: 100%; height: calc(100% - 80px); z-index: 10;">

  <form #f="ngForm" style="width: 100%; height: 100%;" fxLayoutAlign="center start">
    <div fxFlex.xs="95" fxFlex.gt-xs="540px">

      <div style="height: 40px"></div>

      <div fxLayoutAlign="center start">
        <p fxFlex.gt-sm="90" class="boldMont font22px blackColor noMargin" style="text-align: center">{{ 'forgotPassword.title' | translate }}</p>
      </div>

      <div style="height: 20px"></div>

      <div style="min-height: 40px;" fxLayoutAlign="center start">
        <p fxFlex="80" class="regularMont font14px grayColor noMargin" style="text-align: center">{{ 'forgotPassword.subtitle' | translate }}</p>
      </div>

      <div style="height: 20px"></div>

      <div fxLayoutAlign="center start">
        <div fxFlex="80">
          <app-evo-input title="{{ 'forgotPassword.emailTitle' | translate }}" placeholderText="{{ 'forgotPassword.emailPlaceholder' | translate }}" ngModel name="email"></app-evo-input>
        </div>
      </div>

      <div style="height: 20px"></div>

      <div fxLayoutAlign="center start">
        <button class="greenButton defaultShadow"
                style="width: 140px; height: 40px;"
                fxLayoutAlign="center center" (click)="onForgotPassClicked(f)">
          <p class="semiBoldMont font16px whiteColor noMargin">{{ 'forgotPassword.sendButtonTitle' | translate }}</p>
        </button>
      </div>

      <div style="height: 40px"></div>

      <div fxLayoutAlign="center start">
        <div fxFlex="80" fxLayoutAlign="center start">
          <p class="regularMont font14px grayColor noMargin">{{ 'forgotPassword.signinPartOne' | translate }}</p>
          <div fxFlex="5px"></div>
          <p class="semiBoldMont font14px blueHoverColor noMargin"
             style="cursor: pointer"
             (click)="onSignInClicked()">{{ 'forgotPassword.signinPartTwo' | translate }}</p>
        </div>
      </div>

      <div style="height: 20px;"></div>

      <div fxLayoutAlign="center start">
        <p class="regularMont font14px grayColor noMargin">{{ 'forgotPassword.signupPartOne' | translate }}</p>
        <div fxFlex="5px"></div>
        <p class="semiBoldMont font14px blueHoverColor noMargin"
           style="cursor: pointer"
           (click)="onSignupClicked()">{{ 'forgotPassword.signupPartTwo' | translate }}</p>
      </div>

      <div style="height: 20px"></div>

    </div>

  </form>

</div>
