img {
  object-fit: contain;
  width: 100%;
}

#carousel {
  position: relative;
  height: 400px;
}

#corner {
  overflow:hidden;
  clip-path: polygon(
    0 5%,
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0% 95%,
    0% 5%
  )
}

