<div style="width: 100%; height: 100%;">
  <div fxFlex="30px" fxFlex.lt-md="3"></div>
  <div fxFlex fxFlex.xs="94" fxFlex.sm="calc(94%-200px)">
    <div style="height: 20px;"></div>
    <!-- Title and buttons -->
    <div fxLayoutAlign="start center">
      <p class="boldMont font24px blackColor noMargin">Skill Groups</p>
      <div fxFlex></div>
      <button class="greenButton semiBoldMont font12px whiteColor"
              fxFlex="140px"
              style="height: 40px; border-radius: 4px;"
              (click)="onCreateClicked()">
        Create Skill Group
      </button>
      <div fxFlex="10px"></div>
    </div>
    <div style="height: 20px;"></div>
    <div>
      <app-evo-input title="Search for skill groups"
                     placeholderText="Skill Group name"
                     (inputChangedEvent)="searchFilteredSkillGroups($event)">
      </app-evo-input>
    </div>
    <div style="height: 20px;"></div>
    <div ngStyle.lt-md="overflow-y:hidden; height: calc(100% - 170px);"
         style="height: calc(100% - 192px);">
      <div style="height:100%;">
        <div>
          <div fxFlex="15px"></div>
          <p fxFlex class="semiBoldMont font12px grayColor noMargin">
            Name
          </p>
          <div fxFlex="10px"></div>
        </div>
        <div style="height: 10px;"></div>
        <div class="bgGrayDarkColor" style="height: 1px"></div>
        <div class="noScrollBar" style="height: 100%; overflow-y: scroll;"
             ngStyle.lt-md="height:95%;">
          <div style="height: 10px;"></div>
          <div *ngFor="let skillGroup of skillGroups">
            <div>
              <div fxFlex="2px"></div>
              <div fxFlex class="smallShadow bgWhiteHoverColor pointer"
                   style="height: 64px; border-radius: 4px;"
                   fxLayoutAlign="start center"
                   (click)="onSkillGroupClicked(skillGroup)">
                <div fxFlex="20px"></div>
                <div fxFlex fxLayoutAlign="start center">
                  <div fxFlex>
                    <p class="semiBoldMont font16px blackColor noMargin">{{ cultureName(skillGroup.name) }}</p>
                  </div>
                </div>
                <div fxFlex="20px"></div>
              </div>
              <div fxFlex="2px"></div>
            </div>
            <div style="height: 10px;"></div>
          </div>
          <button class="blueButton whiteColor font14px semiBoldMont"
                  style="height: 42px; width: 100%;"
                  *ngIf="skillGroups.length % skillGroupFilter.limit === 0 && skillGroups.length > 0 && hasMoreData === true"
                  (click)="onFetchMoreSkillGroups()">
            Load More
          </button>
          <div style="height: 10px;" ngStyle.sm="height: 30px;" ngStyle.xs="height: 20px:"></div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="30px" fxFlex.lt-md="3"></div>
</div>

