<app-land2-nav-header [hidden]="hidden" (onBurgerClicked)="setHidden()"></app-land2-nav-header>
<div class="landcontent">
  <div style="height: 40px;"></div>
  <div fxLayoutAlign="center start">
    <p class="boldMont font22px blackColor noMargin" style="text-align: center">{{ 'privacy.title' | translate }}</p>
  </div>
  <div style="height: 20px;"></div>
  <div fxLayoutAlign="center start"></div>
  <div style="height: calc(100% - 120px); overflow-y: scroll;" fxLayout="column" fxLayoutAlign="start center"
       class="whiteBg">
    <div fxFlex="20px" style="width: 100%;" fxLayoutAlign="center center">
      <p class="boldMont font18px blackColor noMargin">Privacy Policy</p>
    </div>
    <div fxFlex="30px"></div>
    <div fxFlex="calc(100% - 160px)" style="line-height: 2; width: 90%;">
      <div>
        <p class="boldMont font16px blackColor noMargin">Introduction</p>
        <div style="height:10px;"></div>
        <p class="mediumMont font14px blackColor noMargin">
          This privacy policy together with our end-user licence agreement as set out here
          <a style="color: blue; text-decoration: underline; cursor: pointer;" (click)="onTcClicked()">
            https://www.evolytes.com/tc
          </a> (the “<b>EULA</b>”) and any additional terms of use incorporated by reference into the EULA
          (together our “<b>Terms of Use</b>”) applies to your use of:
          <br/>
          ● The Evolytes website (“<b>Platform</b>”), mobile application (“<b>App</b>”), products and other
          services available on our site and mobile app.
          <br/>
          ● Any of the services accessible through the App (the “<b>Services</b>”) that are available on the
          Platform or other sites of ours (“<b>Services Sites</b>”). This policy sets out the basis on which
          any personal data we collect from you, or that you provide to us, will be processed by us.
          Please read the following carefully to understand our practices regarding your personal
          data and how we will treat it.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Important information and who we are</p>
        <p class="mediumMont font14px blackColor noMargin">
          Evolytes ehf., Reg. No. 600617-1250, Eskihlíð 6B, 105 Reykjavik, Iceland is the controller and is
          responsible for your personal data.
          If you have any questions about this privacy policy, please contact us using the details set out below.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Contact details</p>
        <p class="mediumMont font14px blackColor noMargin">
          Our full details are:
          <br/>
          ● Full name of legal entity: Evolytes ehf.
          <br/>
          ● Email address: <a href="mailto:evolytes@evolytes.com">evolytes@evolytes.com</a>
          <br/>
          ● Phone number: +354 8473900
          <br/>
          ● Postal address: Eskihlíð 6B, 105 Reykjavik, Iceland
          <br/>
          You have the right to make a complaint at any time to the The Icelandic Data Protection Authority
          (<b>Personuvernd</b>), the Icelandic supervisory authority for data protection issues or other
          competent supervisory authority of an EU member state if the App is downloaded outside of Iceland.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">
          Changes to the privacy policy and your duty to inform us of changes
        </p>
        <p class="mediumMont font14px blackColor noMargin">
          We keep our privacy policy under regular review.
          <br/>
          It may change and if it does, these changes will be posted on this page and, where appropriate,
          notified to you by email and when you next start the App or log onto one of the Services
          Sites. The new policy may be displayed on-screen and you may be required to read and accept
          the changes to continue your use of the App or the Services.
          <br/>
          It is important that the personal data we hold about you is accurate and current. Please keep us
          informed if your personal data changes during our relationship with you.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">The data we collect about you</p>
        <p class="mediumMont font14px blackColor noMargin">
          We may collect, use, store and transfer different kinds of personal data about you as follows:
          <br/>
          ● Identity Data
          <br/>
          ● Contact Data
          <br/>
          ● Financial Data
          <br/>
          ● Transaction Data
          <br/>
          ● Device Data
          <br/>
          ● Content Data
          <br/>
          ● Profile Data
          <br/>
          ● Usage Data
          <br/>
          ● Marketing and Communications Data
          <br/>
          We explain these categories of data below in the Glossary.
          <br/>
          We also collect, use and share Aggregated Data such as statistical or demographic data for any
          purpose. Aggregated Data could be derived from your personal data but is not considered
          personal data in law as this data will not directly or indirectly reveal your identity. For
          example, we may aggregate your Usage Data to calculate the percentage of users accessing a
          specific App feature. However, if we combine or connect Aggregated Data with your personal
          data so that it can directly or indirectly identify you, we treat the combined data as personal
          data which will be used in accordance with this privacy policy.
          <br/>
          We do not collect any Special Categories of Personal Data about you (this includes details about your
          race or ethnicity, religious or philosophical beliefs, sex life, sexual orientation, political
          opinions, trade union membership, information about your health, and genetic and biometric
          data). Nor do we collect any information about criminal convictions and offences.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">How is your personal data collected?</p>
        <p class="mediumMont font14px blackColor noMargin">
          We will collect and process the following data about you:
          <br/>
          ● <b>Information you give us.</b> This is information (including Identity, Contact, Financial, and
          Marketing and Communications Data) you consent to giving us about you and/or the
          student using the App by filling in forms on the Platform and the Services Sites (together
          <b>Our Sites</b>), or by corresponding with us (for example, by email or chat). It includes
          information you provide when you register to use the Platform, download or register an
          App, subscribe to any of our Services, search for an App or Service, and when you report
          a problem with an App, our Services, or any of Our Sites. If you contact us, we will keep
          a record of that correspondence.
          <br/>
          ● <b>Information we collect about you and your device.</b> Each time you visit one of Our
          Service Sites or use one of our Apps we will automatically collect personal data including
          Device, Content and Usage Data. We collect this data using cookies and other similar
          technologies.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">How we use your personal data</p>
        <p class="mediumMont font14px blackColor noMargin">
          We will only use your personal data when the law allows us to do so. Most commonly we will use
          your personal data in the following circumstances:
          <br/>
          ● Where you have consented before the processing.
          <br/>
          ● Where we need to perform a contract we are about to enter or have entered with you.
          <br/>
          ● Where it is necessary for our legitimate interests (or those of a third party) and your
          interests and fundamental rights do not override those interests.
          <br/>
          ● Where we need to comply with a legal or regulatory obligation.
          <br/>
          See the <i>Glossary</i> to find out more about the types of lawful basis that we will rely on to process your
          personal data.
          <br/>
          We will only send you direct marketing communications by email or text if we have your consent.
          You have the right to withdraw that consent at any time by contacting us.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Purposes for which we will use your personal data</p>
        <table class="mediumMont font14px blackColor">
          <tr>
            <th>Purpose/activity</th>
            <th>Type of data</th>
            <th>Lawful basis for processing</th>
          </tr>
          <tr>
            <td>
              To install the App and register you as
              a new App user
            </td>
            <td>
              Identity
              <br/>
              Contact
              <br/>
              Financial
              <br/>
              Device
            </td>
            <td>
              Performance of a contract with you
            </td>
          </tr>
          <tr>
            <td>
              To process in-App purchases and deliver Services including managing payments and collecting money owed to
              us
            </td>
            <td>
              Identity
              <br/>
              Contact
              <br/>
              Financial
              <br/>
              Transaction
              <br/>
              Device
              <br/>
              Marketing and Communications
            </td>
            <td>
              Performance of a contract with you Necessary for our legitimate interests (to recover debts due to us)
            </td>
          </tr>
          <tr>
            <td>
              To manage our relationship with you including notifying you of changes to the App or any Services
            </td>
            <td>
              Identity
              <br/>
              Contact
              <br/>
              Financial
              <br/>
              Profile
              <br/>
              Marketing and Communications
            </td>
            <td>
              Performance of a contract with you Necessary for our legitimate interests (to keep records updated and to
              analyse how customers use our products/ Services) Necessary to comply with legal obligations (to inform
              you
              of any changes to our terms and conditions)
            </td>
          </tr>
          <tr>
            <td>
              To administer and protect our business and this App including troubleshooting, data analysis and system
              testing
            </td>
            <td>
              Identity
              <br/>
              Contact
              <br/>
              Device
            </td>
            <td>
              Necessary for our legitimate interests (for running our business, provision of administration and IT
              services, network security)
            </td>
          </tr>
          <tr>
            <td>
              To deliver content and advertisements to you
              To make recommendations to you about goods or services which may interest you
              To measure and analyse the effectiveness of the advertising we serve you
              To monitor trends so we can improve the App
            </td>
            <td>
              Identity
              <br/>
              Contact
              <br/>
              Device
              <br/>
              Content
              <br/>
              Profile
              <br/>
              Usage
              <br/>
              Marketing and Communications
            </td>
            <td>
              Consent Necessary for our legitimate interests (to develop our products/Services and grow our business)
            </td>
          </tr>
        </table>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Disclosures of your personal data</p>
        <p class="mediumMont font14px blackColor noMargin">
          We may share your personal data with the third parties set out below for the purposes set out in the
          table Purposes for which we will use your personal data:
          <br/>
          ● Internal Third Parties as set out in the Glossary.
          <br/>
          ● External Third Parties as set out in the Glossary.
          <br/>
          ● Third parties to whom we may choose to sell, transfer or merge parts of our business or
          our assets. Alternatively, we may seek to acquire other businesses or merge with them. If
          a change happens to our business, then the new owners may use your personal data in the
          same way as set out in this privacy policy.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">International transfers</p>
        <p class="mediumMont font14px blackColor noMargin">
          We do not transfer your personal data outside the European Economic Area (<b>EEA</b>)
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Data security</p>
        <p class="mediumMont font14px blackColor noMargin">
          All information you provide to us is stored on our secure servers. Any payment transactions will be
          encrypted using Secured Sockets Layer technology. Where we have given you (or where you
          have chosen) a password that enables you to access certain parts of Our Sites, you are
          responsible for keeping this password confidential. We ask you not to share a password with
          anyone.
          <br/>
          Once we have received your information, we will use strict procedures and security features to try to
          prevent your personal data from being accidentally lost, used or accessed in an unauthorised
          way.
          <br/>
          We have put in place procedures to deal with any suspected personal data breach and will notify you
          and any applicable regulator when we are legally required to do so.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Data retention</p>
        <p class="mediumMont font14px blackColor noMargin">
          Details of retention periods for different aspects of your personal data are available in our retention
          policy which you can request by contacting us.
          <br/>
          By law we have to keep basic information about our customers (including Contact, Identity, Financial
          and Transaction Data) for seven years after they cease being customers.
          <br/>
          In some circumstances you can ask us to delete your data: see Your legal rights below for further
          information.
          <br/>
          In some circumstances we will fully anonymise your personal data (so that it can no longer be
          associated with you) for research or statistical purposes, in which case we may use this
          information indefinitely without further notice to you.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Your legal rights</p>
        <p class="mediumMont font14px blackColor noMargin">
          Under certain circumstances you have the following rights under data protection laws in relation to
          your personal data.
          <br/>
          Please click see the <i>Glossary</i> below to find out more about these rights:
          <br/>
          <i>
            ● Request access to your personal data.
            <br/>
            ● Request correction of your personal data.
            <br/>
            ● Request erasure of your personal data.
            <br/>
            ● Object to processing of your personal data.
            <br/>
            ● Request restriction of processing your personal data.
            <br/>
            ● Request transfer or your personal data.
            <br/>
            ● Right to withdraw consent.
          </i>
          <br/>
          You also have the right to ask us not to continue to process your personal data for marketing
          purposes.
          <br/>
          You can exercise any of these rights at any time by contacting us at <a href="mailto:evolytes@evolytes.com">evolytes@evolytes.com</a>.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Special protection for children under 13 years of age</p>
        <p class="mediumMont font14px blackColor noMargin">
          We recognize that our Services are tailored for children and we need to provide further privacy
          protections to personal information we collect from children under 13 years of age using our
          Services.
          <br/>
          In those cases where we rely on consent for the processing personal information of a child under 13
          years of age, we will require that this consent is given or authorized by the holder of parental
          responsibility of the child.
        </p>
        <div style="height:20px;"></div>
      </div>
      <div style="height:20px;" fxLayoutAlign="center center">
        <p class="boldMont font18px blackColor noMargin">Glossary</p>
      </div>
      <div>
        <p class="boldMont font16px blackColor noMargin">Lawful basis</p>
        <p class="mediumMont font14px blackColor noMargin">
          <b><i>Consent</i></b> means processing your personal data where you have signified your agreement by a
          statement or clear opt-in to processing for a specific purpose. Consent will only be valid if it
          is a freely given, specific, informed and unambiguous indication of what you want. You can
          withdraw your consent at any time by contacting us.
        </p>
        <div style="height:10px;"></div>
        <p class="mediumMont font14px blackColor noMargin">
          <b><i>Legitimate Interest</i></b> means the interest of our business in conducting and managing our business
          to enable us to give you the best service/product and the best and most secure experience.
          We make sure we consider and balance any potential impact on you (both positive and negative)
          and your rights before we process your personal data for our legitimate interests. We do not
          use your personal data for activities where our interests are overridden by the impact on you
          (unless we have your consent or are otherwise required or permitted to by law). You can
          obtain further information about how we assess our legitimate interests against any potential
          impact on you in respect of specific activities by contacting us.
        </p>
        <div style="height:10px;"></div>
        <p class="mediumMont font14px blackColor noMargin">
          <b><i>Performance of Contract</i></b> means processing your data where it is necessary for the performance of
          a contract to which you are a party or to take steps at your request before entering into such a
          contract.
        </p>
        <div style="height:10px;"></div>
        <p class="mediumMont font14px blackColor noMargin">
          <b><i>Comply with a legal obligation</i></b> means processing your personal data where it is necessary for
          compliance with a legal obligation that we are subject to.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Third parties</p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">External third parties.</p>
        <p class="mediumMont font14px blackColor noMargin">
          Service providers acting as processors based in the EEA who provide IT and system administration
          services. External third parties include: MongoDB, Heroku, Chargebee, Korta and Adyen.
          <br/>
          Professional advisers acting as processors or joint controllers including lawyers, bankers, auditors
          and insurers based in Iceland, UK and France who provide consultancy, banking, legal,
          insurance and accounting services.
        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Your legal rights</p>
        <p class="mediumMont font14px blackColor noMargin">
          You have the right to:
          <br/>
          ● <b>Request access</b> to your personal data (commonly known as a “data subject access
          request”). This enables you to receive a copy of the personal data we hold about you and
          to check that we are lawfully processing it.
          <br/>
          ● <b>Request correction</b> of the personal data that we hold about you. This enables you to have
          any incomplete or inaccurate data we hold about you corrected, though we may need to
          verify the accuracy of the new data you provide to us.
          <br/>
          ● <b>Request erasure</b> of your personal data. This enables you to ask us to delete or remove
          personal data where there is no good reason for us continuing to process it. You also have
          the right to ask us to delete or remove your personal data where you have successfully
          exercised your right to object to processing (see below), where we may have processed
          your information unlawfully or where we are required to erase your personal data to
          comply with local law. Note, however, that we may not always be able to comply with
          your request of erasure for specific legal reasons which will be notified to you, if
          applicable, at the time of your request.
          <br/>
          ● <b>Object to processing</b> of your personal data where we are relying on a legitimate interest
          (or those of a third party) and there is something about your particular situation which
          makes you want to object to processing on this ground as you feel it impacts on your
          fundamental rights and freedoms. You also have the right to object where we are
          processing your personal data for direct marketing purposes. In some cases, we may
          demonstrate that we have compelling legitimate grounds to process your information
          which override your rights and freedoms.
          <br/>
          ● <b>Request restriction of processing</b> of your personal data. This enables you to ask us to
          suspend the processing of your personal data in the following scenarios:
          <br/>
          (a) if you want us to establish the data’s accuracy;
          <br/>
          (b) where our use of the data is unlawful but you do not want us to erase it;
          <br/>
          (c) where you need us to hold the data even if we no longer require it as you need it to
          establish, exercise or defend legal claims; or
          <br/>
          (d) you have objected to our use of your data but we need to verify whether we have
          overriding legitimate grounds to use it.
          <br/>
          ● <b>Request the transfer</b> of your personal data to you or to a third party. We will provide to
          you, or a third party you have chosen, your personal data in a structured, commonly used,
          machine-readable format. Note that this right only applies to automated information
          which you initially provided consent for us to use or where we used the information to
          perform a contract with you.
          <br/>
          ● <b>Withdraw consent at any time</b> where we are relying on consent to process your
          personal data. However, this will not affect the lawfulness of any processing carried out
          before you withdraw your consent. If you withdraw your consent, we may not be able to
          provide certain products or services to you. We will advise you if this is the case at the
          time you withdraw your consent.

        </p>
        <div style="height:10px;"></div>
        <p class="boldMont font16px blackColor noMargin">Description of categories of personal data</p>
        <p class="mediumMont font14px blackColor noMargin">
          ● <b>Identity Data</b>: first name, last name, username or similar identifier, title, date of birth,
          gender.
          <br/>
          ● <b>Contact Data</b>: billing address, delivery address, email address and telephone numbers.
          <br/>
          ● <b>Financial Data</b>: bank account and payment card details.
          <br/>
          ● <b>Transaction Data</b>: includes details about payments to and from you and details of
          in-App purchases.
          <br/>
          ● <b>Device Data</b>: includes the type of mobile device you use, a unique device identifier (for
          example, your Device’s IMEI number, the MAC address of the Device’s wireless
          network interface, or the mobile phone number used by the Device), mobile network
          information, your mobile operating system, the type of mobile browser you use, time
          zone setting.
          <br/>
          ● <b>Content Data</b>: includes information stored on your Device, including, login information.
          <br/>
          ● <b>Profile Data</b>: includes your username and password, in-App purchase history and
          preferences.
          <br/>
          ● <b>Usage Data</b>: includes details of your use of any of our Apps or your visits to any of Our
          Sites including, but not limited to, traffic data and other communication data, whether this
          is required for our own billing purposes or otherwise and the resources that you access.
          <br/>
          ● <b>Marketing and Communications Data</b>: includes your preferences in receiving
          marketing from us and your communication preferences.
        </p>
      </div>
    </div>
  </div>
</div>
