<div>
  <p class="font16px blackColor noMargin boldMont"
     style="line-height: 44px;">
    {{ 'settings.passwordSettings.password' | translate }}
  </p>
  <p class="semiBoldMont noMargin font14px lightGrayColor" style="width:50%;">
    {{ 'settings.passwordSettings.passwordDesc' | translate }}
  </p>
  <div style="height: 20px"></div>
  <div class="line"></div>
  <div style="height: 10px"></div>

  <p class="font16px lightGrayColor noMargin boldMont"
     style="line-height: 44px;">
    {{ 'settings.passwordSettings.changePassword' | translate }}
  </p>

  <p class="semiBoldMont noMargin font14px lightGrayColor" style="width:50%;">
    {{ 'settings.passwordSettings.changeDesc' | translate }}
  </p>

  <div>
    <div style="height: 20px;"></div>

    <div fxLayoutAlign="space-between center" fxHide.xs="true">
      <div fxFlex="45">
        <app-evo-input title="{{ 'userSettings.currentPasswordTitle' | translate }}"
                       placeholderText="{{ 'userSettings.currentPasswordTitle' | translate }}"
                       [inputType]="'password'"
                       [value]="currentPassword"
                       (inputChangedEvent)="currentPassword = $event">
        </app-evo-input>
      </div>
      <div fxFlex="45">
        <app-evo-input title="{{ 'userSettings.newPasswordTitle' | translate }}"
                       placeholderText="{{ 'userSettings.newPasswordTitle' | translate }}"
                       [inputType]="'password'"
                       [value]="newPassword"
                       (inputChangedEvent)="newPassword = $event">
        </app-evo-input>
      </div>
    </div>

    <div fxHide.gt-xs="true">
      <div>
        <app-evo-input title="{{ 'userSettings.currentPasswordTitle' | translate }}"
                       placeholderText="{{ 'userSettings.currentPasswordTitle' | translate }}"
                       [inputType]="'password'"
                       [value]="currentPassword"
                       (inputChangedEvent)="currentPassword = $event">
        </app-evo-input>
      </div>
      <div style="height: 20px;"></div>
      <div>
        <app-evo-input title="{{ 'userSettings.newPasswordTitle' | translate }}"
                       placeholderText="{{ 'userSettings.newPasswordTitle' | translate }}"
                       [inputType]="'password'"
                       [value]="newPassword"
                       (inputChangedEvent)="newPassword = $event">
        </app-evo-input>
      </div>
    </div>

    <div style="height: 20px"></div>

    <div fxLayoutAlign="space-between center" fxHide.xs="true">
      <div fxFlex="45">
        <app-evo-input title="{{ 'userSettings.newPasswordConfirmTitle' | translate }}"
                       placeholderText="{{ 'userSettings.newPasswordConfirmTitle' | translate }}"
                       [inputType]="'password'"
                       [value]="confirmNewPassword"
                       (inputChangedEvent)="confirmNewPassword = $event">
        </app-evo-input>
      </div>
      <div fxFlex="45">

      </div>
    </div>

    <div fxHide.gt-xs="true">
      <div>
        <app-evo-input title="{{ 'userSettings.newPasswordConfirmTitle' | translate }}"
                       placeholderText="{{ 'userSettings.newPasswordConfirmTitle' | translate }}"
                       [inputType]="'password'"
                       [value]="confirmNewPassword"
                       (inputChangedEvent)="confirmNewPassword = $event">
        </app-evo-input>
      </div>
    </div>

    <div style="height: 30px"></div>

    <div fxLayoutAlign="end start">
      <button class="greenButton semiBoldMont font14px whiteColor"
              style="width: 140px; height: 40px;"
              [disabled]="isSavePasswordDisabled()"
              (click)="onChangePassword()">
        {{ 'userSettings.saveButtonTitle' | translate }}
      </button>
    </div>


    <div style="height: 20px"></div>

    <div style="height: 80px;"></div>
  </div>
</div>
