<div
  style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); z-index: 2000;"
  fxLayoutAlign="center center"
  *ngIf="showTeacherInvite">
  <div class="whiteBg" fxFlex="92" style="border-radius: 8px; height: 80%;">
    <div class="lightGrayBg2" style="height: 60px; border-radius: 4px 4px 0 0;" fxLayoutAlign="center center">
      <p
        class="boldMont font18px blackColor noMargin">{{ 'schoolAdministration.teachers.inviteTeacherTitle' | translate }}</p>
    </div>
    <div style="height: calc(100% - 120px); overflow-y: scroll;">
      <div style="height: 10px;"></div>
      <div fxLayoutAlign="center start">
        <div fxFlex="10px"></div>
        <div fxFlex>
          <div *ngFor="let invite of teachersToInvite; let i = index;">
            <div class="defaultShadow whiteBg pointer" style="height: 70px; border-radius: 8px;"
                 fxLayoutAlign="start center">
              <div fxFlex="10px"></div>
              <app-evo-input fxFlex
                             placeholderText="{{ 'userSettings.emailPlaceholder' | translate }}"
                             [value]="invite.email"
                             (inputChangedEvent)="invite.email = $event">
              </app-evo-input>
              <div fxFlex="10px"></div>
              <div fxFlex style="height: 48px">
                <app-evo-dropdown [list]="AccessTypes" [currentValue]="invite.schoolAccessType"
                                  (valueChangedEvent)="invite.schoolAccessType = $event"></app-evo-dropdown>
              </div>
              <div fxFlex="10px"></div>
              <div fxFlex="42px">
                <div style="height: 6px;"></div>
                <div class="bgRedHoverColor"
                     style="height: 42px; width: 42px; border-radius: 4px;"
                     (click)="removeTeacher(i)"
                     fxLayoutAlign="center center">
                  <img src="./assets/icons/close-icon.svg" style="height: 18px; width: 18px; object-fit: contain;">
                </div>
              </div>
              <div fxFlex="10px"></div>
            </div>
            <div style="height: 10px;"></div>
          </div>
          <div class="bgGreenHoverColor pointer"
               style="height: 70px; border-radius: 8px;"
               fxLayoutAlign="start center"
               (click)="addTeacher()">
            <div fxFlex="20px"></div>
            <p fxFlex
               class="semiBoldMont font16px whiteColor noMargin">{{ 'schoolAdministration.teachers.addMore' | translate }}</p>
            <div fxFlex="20px"></div>
          </div>
          <div style="height: 10px;"></div>
        </div>
        <div fxFlex="10px"></div>
      </div>
    </div>
    <div class="lightGrayBg2" style="height: 60px; border-radius: 0 0 4px 4px;" fxLayoutAlign="center center">
      <div>
        <button class="redButton semiBoldMont font12px whiteColor noMargin"
                fxFlex="140px"
                style="height: 40px;"
                (click)="closeInviteTeachers()">
          {{ 'reusable.cancel' | translate }}
        </button>
        <div fxFlex="40px"></div>
        <button class="greenButton semiBoldMont font12px whiteColor noMargin"
                fxFlex="140px"
                style="height: 40px;"
                (click)="sendTeacherInvites()">
          {{ 'reusable.send' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<div
  style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.3); z-index: 2000;"
  *ngIf="showTeacherInvitationDetail"
  fxLayoutAlign="center center">
  <div class="whiteBg noScrollBar" fxFlex.lt-md="90" fxFlex.gt-sm="700px"
       style="border-radius: 8px; overflow: hidden;"
       ngStyle.sm="height: 80%; max-height: 500px;"
       ngStyle.xs="height: 80%;">
    <div class="lightGrayBg2" style="height: 60px; border-radius: 4px 4px 0 0;" fxLayoutAlign="center center">
      <p class="boldMont font18px blackColor noMargin">Edit invitation</p>
    </div>
    <div ngStyle.lt-md="overflow-y: scroll;" style="height: calc(100% - 60px);">
      <div style="height: 20px;"></div>
      <div>
        <div fxFlex="20px"></div>
        <div fxFlex="60px" fxLayoutAlign="center center">
          <div class="smallShadow" style="border-radius: 30px; height: 60px; width: 60px;"
               fxLayoutAlign="center center">
            <p class="boldMont font22px blackColor noMargin">{{ teacherInvitation.getTwoInitials() }}</p>
          </div>
        </div>
        <div fxFlex="20px"></div>
        <div fxFlex fxLayoutAlign="start center">
          <div>
            <p *ngIf="teacherInvitation.getFullName()" class="semiBoldMont font18px blackColor noMargin">
              {{ teacherInvitation.getFullName() }}
            </p>
            <div style="height: 2px;"></div>
            <p class="semiBoldMont noMargin"
               [ngClass]="!teacherInvitation.getFullName() ? 'font14px blackColor' : 'font10px grayColor'">
              {{ teacherInvitation.email }}
            </p>
            <div style="height: 2px;"></div>
            <p class="semiBoldMont font12px blackColor noMargin"
               [ngClass]="teacherInvitation.getExpirationStatus() === 'expired' ? 'redColor' : 'darkGreenColor'">
              {{ 'reusable.' + teacherInvitation.getExpirationStatus()| translate }}
            </p>
          </div>
        </div>
        <div fxFlex="20px"></div>
      </div>
      <div style="height: 20px;"></div>
      <div>
        <div fxFlex="20px"></div>
        <div fxFlex>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
            <div fxFlex style="height: 65px;" ngStyle.lt-md="width:90%;">
              <app-evo-input fxFlex title="{{ 'signup.emailTitle' | translate }}"
                             [value]="teacherInvitation.email"
                             [isDisabled]="true">
              </app-evo-input>
            </div>
            <div fxFlex="20px" fxFlex.lt-md="10px"></div>
            <div fxFlex style="height: 65px;" ngStyle.lt-md="width:90%;">
              <app-evo-dropdown fxFlex title="{{ 'schoolAdministration.teachers.accountTypeLegend' | translate }}"
                                [list]="AccessTypes" [currentValue]="teacherInvitation.schoolAccessType"
                                (valueChangedEvent)="teacherInvitation.schoolAccessType = $event">
              </app-evo-dropdown>
            </div>
          </div>
          <div style="height: 20px;" ngStyle.lt-md="height: 10px;"></div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
            <div fxFlex style="height: 65px;" ngStyle.lt-md="width:90%;">
              <app-evo-input fxFlex title="{{ 'signup.firstNameTitle' | translate }}"
                             [value]="teacherInvitation.firstName"
                             (inputChangedEvent)="teacherInvitation.firstName = $event">
              </app-evo-input>
            </div>
            <div fxFlex="20px" fxFlex.lt-md="10px"></div>
            <div fxFlex style="height: 65px;" ngStyle.lt-md="width:90%;">
              <app-evo-input fxFlex title="{{ 'signup.lastNameTitle' | translate }}"
                             [value]="teacherInvitation.lastName"
                             (inputChangedEvent)="teacherInvitation.lastName = $event">
              </app-evo-input>
            </div>
          </div>
        </div>
        <div fxFlex="20px"></div>
      </div>
      <div style="height: 20px;" ngStyle.lt-md="height: 10px;"></div>
      <div>
        <div fxLayout="row" fxLayoutAlign="end center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
          <div fxFlex="20px"></div>
          <div fxFlex="140px" fxFlex.xs ngStyle.lt-md="width:90%;" fxLayoutAlign.xs="center center">
            <div style="height: 21px;" fxHide.xs="true"></div>
            <button class="redButton semiBoldMont font14px whiteColor noMargin"
                    style="height: 42px; width: 140px;"
                    (click)="closeEditTeacherInvitationClicked()">
              {{ 'reusable.cancel' | translate }}
            </button>
          </div>
          <div fxFlex="20px" fxFlex.xs="10px"></div>
          <div fxFlex="140px" fxFlex.xs ngStyle.lt-md="width:90%;" fxLayoutAlign.xs="center center">
            <div style="height: 21px;" fxHide.xs="true"></div>
            <button class="greenButton semiBoldMont font14px whiteColor noMargin"
                    style="height: 42px; width: 140px;"
                    (click)="editTeacherInvitationClicked()">
              {{ 'reusable.save' | translate }}
            </button>
          </div>
          <div fxFlex="20px"></div>
        </div>
      </div>
      <div style="height: 20px;"></div>
      <div>
        <div>
          <div fxFlex="20px"></div>
          <p class="boldMont font20px blackColor noMargin">
            {{ 'schoolAdministration.teachersInvitations.resendTeacherInvitationTitle' | translate }}
          </p>
          <div fxFlex="20px" fxHide.xs="true"></div>
        </div>
        <div style="height: 10px;"></div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
          <div fxFlex="20px"></div>
          <app-evo-input-date fxFlex
                              ngStyle.lt-md="width:90%;"
                              title="{{ 'schoolAdministration.teachersInvitations.lastTeacherInvitationSentTitle' | translate }}"
                              [currentValue]="teacherInvitation.sentDate"
                              [isDisabled]="true">
          </app-evo-input-date>
          <div fxFlex="20px" fxFlex.xs="10px"></div>
          <div fxFlex="140px" fxFlex.xs ngStyle.lt-md="width:90%;" fxLayoutAlign.xs="center center">
            <div style="height: 21px;" fxHide.xs="true"></div>
            <button class="greenButton semiBoldMont font14px whiteColor noMargin"
                    style="height: 42px; width: 140px;"
                    (click)="onResendTeacherInvitation()">
              {{ 'reusable.resend' | translate }}
            </button>
          </div>
          <div fxFlex="20px"></div>
        </div>
      </div>
      <div style="height: 20px;"></div>
      <div>
        <div>
          <div fxFlex="20px"></div>
          <p class="boldMont font20px blackColor noMargin">
            {{ 'schoolAdministration.teachersInvitations.deleteTeacherInvitationTitle' | translate }}
          </p>
          <div fxFlex="20px" fxHide.xs="true"></div>
        </div>
        <div style="height: 10px;"></div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayout.xs="column" fxLayoutAlign.xs="center center">
          <div fxFlex="20px"></div>
          <app-evo-input fxFlex
                         ngStyle.lt-md="width:90%;"
                         title="{{ 'signin.passwordTitle' | translate }}"
                         placeholderText="{{ 'signin.passwordTitle' | translate }}"
                         inputType="password"
                         [value]="password"
                         (inputChangedEvent)="password = $event">
          </app-evo-input>
          <div fxFlex="20px" fxFlex.xs="10px"></div>
          <div fxFlex="140px" fxFlex.xs ngStyle.lt-md="width:90%;" fxLayoutAlign.xs="center center">
            <div style="height: 21px;" fxHide.xs="true"></div>
            <button class="redButton semiBoldMont font14px whiteColor noMargin"
                    style="height: 42px; width: 140px;"
                    [disabled]="isPasswordButtonDisabled()"
                    (click)="onDeleteTeacherInvitation()">
              {{ 'reusable.delete' | translate }}
            </button>
          </div>
          <div fxFlex="20px"></div>
        </div>
      </div>
      <div style="height: 20px;"></div>
    </div>
  </div>
</div>

<div style="width: 100%; height: 100%;">
  <div fxFlex="30px" fxFlex.lt-md="3"></div>
  <div fxFlex fxFlex.xs="94" fxFlex.sm="calc(94%-200px)">
    <div style="height: 20px;"></div>
    <!-- Title and buttons -->
    <div fxLayoutAlign="start center">
      <p
        class="boldMont font24px blackColor noMargin">{{ 'schoolAdministration.teachersInvitations.teachersInvitationsTitle' | translate }}</p>
      <div fxFlex></div>
      <button class="greenButton semiBoldMont font12px whiteColor"
              fxFlex="140px"
              style="height: 40px; border-radius: 4px;"
              (click)="showTeacherInvites()">
        {{ 'schoolAdministration.teachers.inviteTeacher' | translate }}
      </button>
      <div fxFlex="10px"></div>
      <button class="greenButton semiBoldMont font12px whiteColor"
              fxFlex="140px"
              fxHide.xs="true"
              style="height: 40px; border-radius: 4px;"
              (click)="onImportClicked()">
        {{ 'reusable.import' | translate }}
      </button>
    </div>
    <div style="height: 20px;"></div>
    <div>
      <app-evo-input title="{{ 'schoolAdministration.teachers.search' | translate }}"
                     placeholderText="{{ 'schoolAdministration.teachers.searchPlaceholder' | translate }}"
                     (inputChangedEvent)="searchFilteredTeachersInvitations($event)"></app-evo-input>
    </div>
    <div style="height: 20px;"></div>
    <div ngStyle.lt-md="overflow-x:scroll; overflow-y:hidden; height: calc(100% - 170px);"
         style="height: calc(100% - 192px);">
      <div ngStyle.lt-md="width: 745px;" style="height:100%;">
        <div>
          <p fxFlex
             class="semiBoldMont font12px grayColor noMargin">{{ 'schoolAdministration.teachers.nameLegend' | translate }}</p>
          <p fxFlex="200px"
             class="semiBoldMont font12px grayColor noMargin">{{ 'schoolAdministration.teachers.accountTypeLegend' | translate }}</p>
          <p fxFlex="200px"
             class="semiBoldMont font12px grayColor noMargin">{{ 'schoolAdministration.teachersInvitations.teacherInvitationStatusLegend' | translate }}</p>
          <div fxFlex="10px"></div>
        </div>
        <div style="height: 10px;"></div>
        <div class="bgGrayDarkColor" style="height: 1px"></div>
        <div class="noScrollBar" style="height: 100%; overflow-y: scroll;"
             ngStyle.lt-md="height:95%;">
          <div style="height: 10px;"></div>
          <div *ngFor="let teacherInvitation of teachersInvitations">
            <div>
              <div fxFlex="2px"></div>
              <div fxFlex class="smallShadow bgWhiteHoverColor pointer"
                   style="height: 64px; border-radius: 4px;"
                   fxLayoutAlign="start center"
                   (click)="onTeacherInvitationClicked(teacherInvitation)">
                <div fxFlex="20px"></div>
                <div fxFlex="48px" fxLayoutAlign="center center">
                  <div class="smallShadow" style="border-radius: 30px; height: 48px; width: 48px;"
                       fxLayoutAlign="center center">
                    <p class="boldMont font18px blackColor noMargin">{{ teacherInvitation.getTwoInitials() }}</p>
                  </div>
                </div>
                <div fxFlex="20px"></div>
                <div fxFlex fxLayoutAlign="start center">
                  <div>
                    <p *ngIf="teacherInvitation.getFullName()" class="semiBoldMont font14px blackColor noMargin">
                      {{ teacherInvitation.getFullName() }}
                    </p>
                    <div style="height: 2px;"></div>
                    <p class="semiBoldMont noMargin"
                       [ngClass]="!teacherInvitation.getFullName() ? 'font14px blackColor' : 'font10px grayColor'">
                      {{ teacherInvitation.email }}
                    </p>
                  </div>
                </div>
                <p fxFlex="180px"
                   class="semiBoldMont font12px blackColor noMargin">{{ 'schoolAccessTypes.' + teacherInvitation.getSchoolAccessType() | translate }}</p>
                <div fxFlex="20px"></div>
                <p fxFlex="180px"
                   class="semiBoldMont font12px blackColor noMargin"
                   [ngClass]="teacherInvitation.getExpirationStatus() === 'expired' ? 'redColor' : 'darkGreenColor'">
                  {{ 'reusable.' + teacherInvitation.getExpirationStatus()| translate }}
                </p>
                <div fxFlex="20px"></div>
              </div>
              <div fxFlex="2px"></div>
            </div>
            <div style="height: 10px;"></div>
          </div>
          <button class="blueButton whiteColor font14px semiBoldMont"
                  style="height: 42px; width: 100%;"
                  *ngIf="teachersInvitations.length % teacherInvitationFilter.limit === 0 && teachersInvitations.length > 0 && hasMoreData === true"
                  (click)="onFetchMoreTeachersInvitations()">
            {{ 'answers.moreData' | translate }}
          </button>
          <div style="height: 10px;" ngStyle.sm="height: 30px;" ngStyle.xs="height: 20px:"></div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="30px" fxFlex.lt-md="3"></div>
</div>
