<div class="whiteBg"
     style="top: 60px; left: 0; right: 0; bottom: 0; position: absolute; width: 220px; height: calc(100% - 60px); z-index: 500;"
     fxHide.gt-xs="true"
     *ngIf="mobileSv.isVisible">
  <div class="defaultScrollBar scrollBarBlueThumb" style="height: calc(100% - 50px)">
    <div style="height: 50px;" *ngIf="isPartOfSchool()" fxLayoutAlign="start center">
      <div fxFlex="20px"></div>
      <img src="./assets/school-admin/school.svg" style="height: 100%; width: 30px; object-fit: contain;">
      <div fxFlex="16px"></div>
      <p class="semiBoldMont font16px blackColor noMargin">{{ schoolName() }}</p>
      <div fxFlex="20px"></div>
    </div>
    <div style="height: 4px;"></div>
    <div>
      <div fxFlex="20px"></div>
      <div>
        <p class="semiBoldMont font14px blackColor noMargin" style="text-align: left;">{{ userFullName() }}</p>
        <div style="height: 4px;"></div>
        <p class="semiBoldMont font10px grayColor noMargin">{{ userEmail() }}</p>
      </div>
      <div fxFlex="20px"></div>
    </div>
    <div style="height: 12px;"></div>
    <div style="height: 2px;">
      <div fxFlex="20px"></div>
      <div fxFlex class="lightGrayBg2" style="height: 2px;"></div>
      <div fxFlex="20px"></div>
    </div>

    <div style="height: 20px;"></div>
    <div class="selectItemInactive pointer"
         style="height: 30px;"
         fxLayoutAlign="start center"
         routerLink="/schooladmin/licenses"
         routerLinkActive="selectItemGreenActive"
         (click)="mobileSv.isVisible = false;">
      <div fxFlex="20px"></div>
      <img src="./assets/school-admin/dashboard-gray.svg" style="width: 26px; height: 26px; object-fit: contain;">
      <div fxFlex="16px"></div>
      <p class="mediumMont font14px grayColor noMargin">{{ 'schoolAdministration.licenses.title' | translate }}</p>
      <div fxFlex="20px"></div>
    </div>

    <div style="height: 20px;"></div>
    <div class="selectItemInactive pointer"
         style="height: 30px;"
         fxLayoutAlign="start center"
         routerLink="/schooladmin/teachers"
         routerLinkActive="selectItemGreenActive"
         (click)="mobileSv.isVisible = false;">
      <div fxFlex="20px"></div>
      <img src="./assets/school-admin/teachers.svg" style="width: 26px; height: 26px; object-fit: contain;">
      <div fxFlex="16px"></div>
      <p class="mediumMont font14px grayColor noMargin">{{ 'schoolAdministration.sidebar.teachers' | translate }}</p>
      <div fxFlex="20px"></div>
    </div>

    <div style="height: 20px;"></div>
    <div class="selectItemInactive pointer"
         style="height: 30px;"
         fxLayoutAlign="start center"
         routerLink="/schooladmin/students"
         routerLinkActive="selectItemBlueActive"
         (click)="mobileSv.isVisible = false;">
      <div fxFlex="23px"></div>
      <img src="./assets/school-admin/students.svg" style="width: 20px; height: 22px; object-fit: contain;">
      <div fxFlex="19px"></div>
      <p class="mediumMont font14px grayColor noMargin">{{ 'schoolAdministration.sidebar.students' | translate }}</p>
      <div fxFlex="20px"></div>
    </div>
    <div style="height: 20px;"></div>
    <!--
    <div style="height: 20px;"></div>
    <div class="selectItemInactive"
         style="height: 50px"
         routerLink="/schooladmin/groups"
         routerLinkActive="selectItemOrangeActive"
         (click)="onGroupsClicked()">
      <div fxFlex="15px"></div>
      <div fxFlex="40px" fxLayoutAlign="center center">
        <img style="height: 36px; width: 100%;" [src]="'./assets/school-admin/groups-gray.svg'">
      </div>
      <div fxFlex="10px"></div>
      <div fxFlex fxLayoutAlign="start center">
        <p class="regularMont font14px grayColor noMargin">{{ 'schoolAdministration.sidebar.groups' | translate }}</p>
      </div>
    </div>
    -->
  </div>
</div>
