<div style="height: 50px">
  <div fxFlex="20px"></div>
  <div fxFlex="30" fxLayoutAlign="start center" style="cursor: pointer">
    <div fxFlex="28px" fxLayoutAlign="center center">
      <img src="./assets/email-icon-gray.svg" fxFlex="22px">
    </div>
    <div fxFlex="10px"></div>
    <div fxFlex="150px" fxLayoutAlign="start center" fxHide.xs="true">
      <p class="regularMont font12px grayColor noMargin">evolytes@evolytes.com</p>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="end center">
    <div fxFlex="36px" style="cursor: pointer" fxLayoutAlign="center start">
      <img src="./assets/facebook-icon.png" fxFlex="22px">
    </div>
    <div fxFlex="36px" style="cursor: pointer" fxLayoutAlign="center start">
      <img src="./assets/linkedin-icon.png" fxFlex="22px">
    </div>
    <div fxFlex="36px" style="cursor: pointer" fxLayoutAlign="center start">
      <img src="./assets/twitter-icon.png" fxFlex="22px">
    </div>
    <div fxFlex="36px" style="cursor: pointer" fxLayoutAlign="center start">
      <img src="./assets/instagram-icon.png" fxFlex="22px">
    </div>
  </div>
  <div fxFlex="20px"></div>
</div>
