<div fxFlex.sm="80px"
     fxFlex.gt-sm="220px"
     fxHide.xs="true"
     class="whiteBg noScrollBar"
     style="height: 100%;">
  <div class="noScrollBar" style="height: calc(100% - 50px); overflow-y: scroll;">
    <div style="height: 40px"></div>
    <div class="selectItemInactive"
         style="height: 40px;"
         routerLink="/admin/pricing"
         routerLinkActive="selectItemOrangeActive" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px" fxLayoutAlign="center center">
        <img src="../../../../assets/admin/pricing-icon.png" style="height: 30px; width: 100%;">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Pricing</p>
      </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="selectItemInactive"
         style="height: 40px;"
         routerLink="/admin/books"
         routerLinkActive="selectItemRedActive"
         fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px"
           fxLayoutAlign="center center">
        <img style="height: 25px; width: 100%;" src="../../../../assets/admin/book-open.png">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Books</p>
      </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="selectItemInactive"
         style="height: 40px;"
         routerLink="/admin/users"
         routerLinkActive="selectItemGreenActive"
         fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px"
           fxLayoutAlign="center center">
        <img style="height: 25px; width: 100%;" src="../../../../assets/admin/users-gray-icon.png">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Users</p>
      </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="selectItemInactive"
         style="height: 50px;"
         routerLink="/admin/students"
         routerLinkActive="selectItemYellowActive"
         fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px" fxLayoutAlign="center center">
        <img style="height: 24px; width: 100%;" src="../../assets/admin/school.png">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Students</p>
      </div>
    </div>
    <div style="height: 20px"></div>
    <div class="selectItemInactive"
         style="height: 50px"
         routerLink="/admin/questions"
         routerLinkActive="selectItemBlueActive"
         fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px" fxLayoutAlign="center center">
        <img style="height: 25px; width: 100%;" src="'../../assets/admin/question-gray-icon.png">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Questions</p>
      </div>
    </div>
    <div style="height: 20px"></div>

    <div class="selectItemInactive"
         style="height: 40px;"
         routerLink="/admin/skillGroups"
         routerLinkActive="selectItemPurpleActive"
         fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px" fxLayoutAlign="center center">
        <img style="height: 25px; width: 100%;" src="'../../assets/admin/skillGroup-icon.png">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Skill Groups</p>
      </div>
    </div>
    <div style="height: 20px"></div>

    <div class="selectItemInactive"
         style="height: 40px;"
         routerLink="/admin/orders"
         routerLinkActive="selectItemYellowActive"
         fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px" fxLayoutAlign="center center">
        <img style="height: 24px; width: 100%;" src="../../assets/admin/order-icon.png">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Orders</p>
      </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="selectItemInactive"
         style="height: 40px;"
         routerLink="/admin/schools"
         routerLinkActive="selectItemOrangeActive"
         fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px" fxLayoutAlign="center center">
        <img style="height: 24px; width: 100%;" src="../../assets/admin/school.png">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Schools</p>
      </div>
    </div>
    <div style="height: 20px"></div>
    <div class="selectItemInactive"
         style="height: 50px;"
         routerLink="/admin/objectives"
         routerLinkActive="selectItemYellowActive"
         fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40px" fxLayoutAlign="center center">
        <img style="height: 24px; width: 100%;" src="../../../../assets/admin/icon-goal.png">
      </div>
      <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
      <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
        <p class="regularMont font14px grayColor noMargin">Objectives</p>
      </div>
    </div>
    <div style="height: 20px"></div>
  </div>
  <div style="height: 50px; cursor: pointer;"
       fxLayoutAlign="center center"
       (click)="onShowUserViewClicked()">
    <div fxFlex.gt-sm="40px" fxLayoutAlign="center center">
      <img style="height: 20px; width: 100%;" src="../../../../assets/sidebar/logout-icon.svg">
    </div>
    <div fxFlex.gt-sm="15px" fxHide.lt-md></div>
    <div fxFlex="120px" fxLayoutAlign="start center" fxHide.lt-md>
      <p class="regularMont font14px grayColor noMargin">User View</p>
    </div>
  </div>
</div>
