img {
  object-fit: contain;
}

.selectItemInactive {
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: transparent;
  cursor: pointer;
}

.selectItemBlueActive {
  border-right-color: #009CCC;
}

.selectItemPurpleActive {
  border-right-color: #9B59B6;
}

.selectItemYellowActive {
  border-right-color: #FFCB05;
}

.selectItemGreenActive {
  border-right-color: #28A745;
}

.selectItemOrangeActive {
  border-right-color: #F26522;
}

.selectItemRedActive {
  border-right-color: #D0021B;
}

div:focus {
  outline: none;
}
