.containerShadow {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

input {
  padding: 0;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #54676E;
}

input:disabled {
  background-color: transparent;
}
